<h2 class="caption">{{ caption-header }}</h2>
<p class="lead">
    {{#unlesspage 'developers' 'add-experience' 'add-education'}}
        <i class="fas fa-user"></i>
    {{/unlesspage}}
    
    {{#ifpage 'developers'}}
        <i class="fab fa-connectdevelop"></i>
    {{/ifpage}}

    {{#ifpage 'add-experience'}}
        <i class="fas fa-code-branch"></i>
    {{/ifpage}}

    {{#ifpage 'add-education'}}
        <i class="fas fa-graduation-cap"></i>
    {{/ifpage}}

    {{ caption-text }}
</p>